@import 'tailwindcss';
@plugin "daisyui";

/* Custom Color And Font */
@theme {
  /* Primary Colors  */
  --color-primaryColor: ;
  --color-primaryLight: ;

  /* Text Color  */
  --color-headingColor: ;
  --color-paragraphColor: ;

  /* Dark Color */
  --color-dark1Color: ;
  --color-dark2Color: ;
  --color-dark3Color: ;
  --color-dark4Color: ;
  --color-dark5Color: ;

  /* Shadow  */
  --color-shadowSm: ;

  /* Custom Font */
  --font-primaryFont: 'Poppins', sans-serif;
  --font-banglaFont: 'Hind Siliguri', sans-serif;
}

/* Custom Class And Id */
@layer utilities {
  body {
    font-family: var(--font-primaryFont);
  }
  p {
    font-size: 14px;
    color: #18181b;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  /* Custom Container */
  .containers {
    @apply max-w-[1440px] mx-auto px-2;
  }
  .paddingXl {
    @apply py-10 px-1 sm:py-5 lg:py-14;
  }

  .paddingXLX {
    padding: 50px 0px;
  }

  .borders {
    border-top: 1px solid #dddd;
  }
  .bordersRoundedCustom {
    border: 1px solid #edf7ff;
  }
}
